/* CSS overrides */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    top: 0;
    padding-top: 12rem;
}

@media (min-width: 992px) {
    .content {
        padding-top: 7rem;
    }
}

.navbar {
    padding-left: 8px;
}

.controls-group {
    display: flex;
    gap: 10px;
}

.app-search.me-3 {
    margin-right: 0 !important;
}

.btn-primary {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    color: var(--bs-white);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    opacity: 0.7;
}

.btn-success {
    background-color: var(--bs-success);
    color: var(--bs-white);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn-info {
    background-color: var(--bs-info);
    color: var(--bs-white);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn-warning {
    background-color: var(--bs-info);
    color: var(--bs-white);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn-danger {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn-outline-info {
    background-color: var(--bs-info);
    color: var(--bs-white);
}

.app-search.bg-primary {
    background-color: transparent !important;
}

@media (max-width: 767px) {
    .controls {
        height: auto;
        padding-left: 8px;
        padding-right: 8px;
        left: 0;
    }

    .controls-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 0;
    }

    .navbar {
        padding: 8px;
        top: 76px;
    }
}

.controls-group .btn.btn-outline-secondary {
    &.ms-1 {
        margin-left: 0 !important;
    }
}

@media (max-width: 767px) {
    .controls-group .btn.btn-outline-secondary {
        border-color: var(--bs-white);
    }

    .controls-group .btn.btn-outline-secondary:hover,
    .controls-group .btn.btn-outline-secondary:focus,
    .controls-group .btn.btn-outline-secondary:active {
        background-color: var(--bs-white);
    }

    .controls-group .btn.btn-outline-secondary span {
        color: var(--bs-white);
    }

    .controls-group .btn.btn-outline-secondary:hover span,
    .controls-group .btn.btn-outline-secondary:focus span,
    .controls-group .btn.btn-outline-secondary:active span {
        color: var(--bs-primary);
    }
}

.btn.btn-search {
    box-shadow: none;
    padding: 5px;
    transition: opacity 0.15s ease-in-out, border 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
}

.btn.btn-search:hover,
.btn.btn-search:focus,
.btn.btn-search:active {
    background-color: transparent;
    box-shadow: none;
    opacity: 0.5;
}

.dropdown-menu[data-bs-popper] a {
    color: var(--bs-body-color);
}

.dropdown-menu[data-bs-popper] a:hover,
.dropdown-menu[data-bs-popper] a:focus,
.dropdown-menu[data-bs-popper] a:active {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

.navbar-nav .dropdown-menu {
    padding: 0.5rem;
    width: 98%;
    margin: 0 auto;
}

.tab-pane .row.mb-1 {
    margin-bottom: 1rem !important;
}

.tab-pane .row.mt-2 {
    margin-top: 1rem !important;
}

.tab-pane .row.mt-2 .col {
    margin-bottom: 1rem !important;
}

.tab-pane .col.text-center.pb-2 {
    font-size: 1.15rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .dropdown-menu {
        z-index: 10000;
    }
}

.app-rule {
    margin: 1.25rem;
}

.offcanvas-body .text-center .control-label {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.offcanvas-header .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.tab-pane.active > .container,
.collapse.show {
    margin-bottom: 3rem;
}

/* Dark Mode Overwrides */

[data-bs-theme="dark"] {
    background-color: var(--bs-body-bg);
    color: var(--bs-white);
}

[data-bs-theme="dark"] .offcanvas-body .btn.btn-primary {
    background-color: var(--bs-primary);
}

[data-bs-theme="dark"] .offcanvas-body .btn.btn-secondary {
    background-color: var(--bs-secondary);
}

.offcanvas-header .btn-close {
    filter: none;
}

[data-bs-theme="dark"] .btn.btn-success {
    color: var(--bs-white);
}

[data-bs-theme="dark"] .btn.btn-danger {
    background-color: var(--bs-danger);
}

[data-bs-theme="dark"] .offcanvas-body .btn.btn-danger {
    background-color: var(--bs-danger);
}

[data-bs-theme="dark"] .content,
[data-bs-theme="dark"] .form-control,
[data-bs-theme="dark"] .form-select {
    background-color: var(--bs-body-bg);
    color: var(--bs-white);
}

[data-bs-theme="dark"] .form-control,
[data-bs-theme="dark"] .form-select {
    border-color: var(--bs-border-color);
}

[data-bs-theme="dark"] .navbar .app-search .form-control {
    border-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .modal-content {
    color: var(--bs-white);
}

[data-bs-theme="dark"] [contenteditable].form-control[disabled],
[data-bs-theme="dark"] [contenteditable].form-control[disabled]::placeholder,
[data-bs-theme="dark"] [type="email"].form-control[disabled],
[data-bs-theme="dark"] [type="email"].form-control[disabled]::placeholder,
[data-bs-theme="dark"] [type="password"].form-control[disabled],
[data-bs-theme="dark"] [type="password"].form-control[disabled]::placeholder,
[data-bs-theme="dark"] [type="tel"].form-control[disabled],
[data-bs-theme="dark"] [type="tel"].form-control[disabled]::placeholder,
[data-bs-theme="dark"] [type="text"].form-control[disabled],
[data-bs-theme="dark"] [type="text"].form-control[disabled]::placeholder,
[data-bs-theme="dark"] input.form-control[disabled],
[data-bs-theme="dark"] input.form-control[disabled]::placeholder,
[data-bs-theme="dark"] input[type="email"][disabled],
[data-bs-theme="dark"] input[type="email"][disabled]::placeholder,
[data-bs-theme="dark"] input[type="number"][disabled],
[data-bs-theme="dark"] input[type="number"][disabled]::placeholder,
[data-bs-theme="dark"] input[type="password"][disabled],
[data-bs-theme="dark"] input[type="password"][disabled]::placeholder,
[data-bs-theme="dark"] input[type="text"][disabled],
[data-bs-theme="dark"] input[type="text"][disabled]::placeholder,
[data-bs-theme="dark"] textarea.form-control[disabled],
[data-bs-theme="dark"] textarea.form-control[disabled]::placeholder,
[data-bs-theme="dark"] textarea[disabled],
[data-bs-theme="dark"] textarea[disabled]::placeholder {
    color: var(--bs-border-color);
}

[data-bs-theme="dark"]
    .nav-tabs
    .nav-link:not([disabled]):not(.disabled).active,
[data-bs-theme="dark"]
    .nav-tabs
    .nav-link:not([disabled]):not(.disabled):active,
[data-bs-theme="dark"] .nav-tabs .nav-link:not([disabled]):not(.disabled):focus,
[data-bs-theme="dark"]
    .nav-tabs
    .nav-link:not([disabled]):not(.disabled):hover {
    background-image: linear-gradient(
        var(--bs-body-bg),
        var(--bs-body-bg) 60%,
        var(--bs-body-bg)
    );
}
